@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist);
}

* {
  -webkit-tap-highlight-color: transparent;
}

/* Prevent iOS bounce scroll on fixed elements */
html, body {
  overscroll-behavior: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
